.Fisioterapeuta button {
    margin-top: 110px;
    background-color: purple;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.Paciente a {
    text-decoration: none; /* Quita la línea de abajo */
    color: inherit;        /* Hereda el color del botón (blanco, usualmente) */
    display: inline-block;
}

.Fisioterapeuta a {
    text-decoration: none; /* Quita la línea de abajo */
    color: inherit;        /* Hereda el color del botón (blanco, usualmente) */
    display: inline-block;
}

/* Estilo para el botón para que se vea limpio */
.Paciente button {
    background-color: green; /* El color que tienes en la imagen */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.Fisioterapeuta, .Paciente {
    font-family: Arial, sans-serif;
    text-align: center;
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}