@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'PT Sans Caption', sans-serif;
    background-color: #f0f0f0; /* Un fondo claro para resaltar los botones */
}

.ingresar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    gap: 50px; /* Espacio entre los botones */
}

.Profesional button {
    background-color: purple;

}
/* Estilo para el botón para que se vea limpio */
.Paciente button {
    background-color: green; /* El color que tienes en la imagen */
    color: white;
}

.ingresar-container img {
    width: 100px; /* Ajusta el tamaño de las imágenes */
    height: 100px;
    object-fit: cover; /* Asegura que la imagen mantenga su proporción */
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10%;
}

.ingresar-container button:hover {
    opacity: 0.8;
}



@media screen and (max-width: 768px) {
    .ingresar-container {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        gap: 20px; /* Reduce el espacio entre los botones */
    }
}